/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*............... defaults ...............*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --c_primary: #2B7397;
    --c_primary1: #32959D;
    --c_navLink: #6F8B99;
    --c_secondary: #455A64;
    --c_powderBlue: #F4FBFF;
    --c_chocolate: #9E6767;
    --bg_primary: #32959D;
    --bg_powderBlue: #F7FBFD;
    --btn_bg_primary: #FDED9C;
}

body {
    font-family: 'Roboto', sans-serif;
    counter-reset: workPro;
}

.sec_1 {
    padding: 2rem 0px;
}

.c_primary {
    color: var(--c_primary1);
}

.c_primary1 {
    color: var(--c_primary1);
}

.c_secondary {
    color: var(--c_secondary);
}

.c_chocolate {
    color: var(--c_chocolate);
}

.bg_primary {
    background-color: var(--bg_primary);
}

.bg_powderBlue {
    background-color: var(--bg_powderBlue);
}

.btn_primary {
    background-color: var(--c_primary);
}

.btn_primary1 {
    background-color: var(--c_primary1);
}

.btn_primary,
.btn_primary1,
.btn_primary:hover,
.btn_primary1:hover {
    color: white;
}

@media(max-width:768px) {
    .sec_heading {
        font-size: 20px;
        line-height: 25px;
    }
}

@media(min-width:1100px) {
    .sec_1 {
        padding: 60px 0px;
    }
}


/*........ start header section ........*/

header {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--c_navLink);
    background: white
}

.navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 .25rem var(--c_navLink);
    box-shadow: 0 0 0 .25rem var(--c_navLink);
}
.navbar-brand img{
    height: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--c_navLink);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.dropdown-menu {
    padding: 10px;
    border: none;
}

.dropdown-item {
    color: var(--c_primary);
    padding: 10px;
    font-size: 12px;
    line-height: 1.3em;
    font-weight: 300;
    border-radius: 6px;
}

.btn_covid,
.btn_pri {
    font-size: 14px;
    line-height: 16px;
}

.btn_covid {
    background-color: var(--btn_bg_primary);
    border: 2px dashed #FFA4A4;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.btn_pri {
    background-color: var(--c_primary);
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
}

.btn_pri:hover {
    color: white;
}

.btn_covid:focus,
.btn_pri:focus {
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

@media(max-width:992px) {
    .expand_mobile .navbar-toggler,
    .expand_mobile .navbar-brand {
        position: relative;
        z-index: 10;
    }
    .expand_mobile .collapse {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 82px 50px 20px 50px;
        background-color: rgba(5, 58, 84, 0.8);
    }
    .expand_mobile .collapse .navbar-nav {
        background: white;
        padding: 50px 30px !important;
        border-radius: 10px;
        /* height: 100%; */
        max-width: 576px;
        margin: auto;
        max-height: 100%;
        overflow-y: auto;
    }
    .expand_mobile .nav-link {
        padding: 10px;
        border-radius: 6px;
        text-align: center;
    }
    .expand_mobile .nav-link.active {
        background: #EAF7FC;
    }
    .dropdown-item {
        text-align: center;
    }
    .navbar-nav .dropdown-menu {
        background-color: #F8FAFC;
    }
    .nav-link.dropdown-toggle.show {
        background-color: #EAF7FC;
    }
}

@media(min-width:992px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
        line-height: 14px;
    }
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--c_navLink);
        position: relative;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .navbar-light .navbar-nav .nav-link.active::before,
    .navbar-light .navbar-nav .nav-item:hover .nav-link::before {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 1rem);
        border-radius: 5px;
        border-bottom: 3px solid rgba(50, 149, 157, 0.87);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
        top: 100%;
    }
    .dropdown-menu {
        -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    }
    .dropdown-item {
        border-bottom: 1px solid;
        border-radius: 0px;
        font-size: 10px
    }
    .dropdown-menu li:last-child .dropdown-item {
        border-bottom: none;
    }
}


/*........ end header section ........*/


/*........ start hero section ........*/

.carousel-control-next,
.carousel-control-prev {
    width: 40px;
}

.hero_slideItem {
    position: relative;
    z-index: 1;
}

.hero_content {
    padding: 2em;
    color: white;
}

.hero_btn {
    background: var(--btn_bg_primary);
    padding: 12px;
    font-size: 12px;
    line-height: 14px;
}

.hero_slideImg {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media(max-width:767.98px) {
    .hero_title,
    .hero_text {
        color: #37474F;
        text-shadow: 0px 0px 6px #37474F;
    }
    .hero_title {
        font-size: 16px;
        line-height: 25px;
    }
    .hero_text {
        font-size: 12px;
        line-height: 25px;
    }
    .hero_slideImgArea {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 100%;
    }
}

@media(min-width:768px) {
    .hero_content {
        padding: 3em;
    }
    .hero_title {
        font-size: 30px;
        line-height: 40px;
    }
    .hero_text {
        font-size: 20px;
        line-height: 1.5em;
    }
    .hero_btn {
        background: var(--btn_bg_primary);
        padding: 13px 15px;
        font-size: 20px;
        line-height: 23px;
    }
}


/*........ end hero section ........*/


/*........ start services section ........*/

.service_container {
    padding: 0px 1.8rem;
}

.service_item {}

.service_card {
    padding: 1rem;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.13);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    height: 100%;
}

.service_cardContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    font-size: 12px;
}

.service_img {
    height: 100%;
    background: var(--bg_powderBlue);
    border-radius: 6px;
}

.service_heading {
    color: var(--c_primary1);
    font-weight: 300;
    font-size: 1.35em;
}

.service_moreInfoBtn {
    font-style: italic;
    color: var(--c_primary);
    text-decoration: underline;
    cursor: pointer;
}

.service_helpSec,
.service_moreInfo {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.service_getHelpBtn {}

.service_moreInfoTip {
    position: absolute;
    top: 0px;
    background: white;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
    width: 300px;
    max-width: 90vw;
    padding: 1rem;
    border-radius: 6px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.show_moreInfoTips .service_moreInfoTip {
    -webkit-transform: translateY(calc(-100% - 10px));
    -ms-transform: translateY(calc(-100% - 10px));
    transform: translateY(calc(-100% - 10px));
    opacity: 1;
    visibility: visible;
}

.btn_moreInfoTip_cls {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
}

.service_item:nth-child(2n+1) .service_moreInfoTip,
.service_item:nth-child(2n) .service_moreInfoTip {
    left: -155px;
}

.btn_pri1 {
    background: var(--c_primary1);
    border-radius: 4px;
    color: white;
}

.btn_pri1:hover {
    color: white;
}

@media(min-width:460px) {
    .service_heading {
        font-size: 1.25rem;
    }
    .service_card {
        padding: 1.5rem 2rem;
    }
}

@media(min-width:576px) {
    .service_item:nth-child(2n+1) .service_moreInfoTip,
    .service_item:nth-child(2n) .service_moreInfoTip {
        left: -100px;
    }
}

@media(min-width:768px) {
    .service_container {
        padding: 0px;
    }
    .service_item:nth-child(2n+1) .service_moreInfoTip {
        left: 0px;
    }
    .service_item:nth-child(2n) .service_moreInfoTip {
        right: 0px;
        left: initial;
    }
    .service_helpSec {
        margin-top: auto;
    }
}

@media(min-width:992px) {
    .service_container {
        max-width: 872px;
    }
}


/*........ end services section ........*/


/*........ start what can section ........*/

.service_slide {
    font-size: 16px;
    color: var(--c_navLink);
}

.service_slide img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 65px;
    margin-bottom: 10px;
}

.owl-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2332959D'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.owl-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2332959D'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-nav button.owl-prev {
    left: -1rem;
}

.owl-nav button.owl-next {
    right: -1rem;
}


/*........ end what can section ........*/

/*........ start how it works section ........*/
.work_proContainer{
    max-width: 600px;
    margin: auto;
}
.work_proContainer .row{
    padding-bottom: 30px;
    position: relative;
}
.work_proContainer .row::before{
    counter-increment: workPro;
    content: counter(workPro);
    position: absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
            transform:translateX(-50%);
    height: 30px;
    min-width: 30px;
    background: var(--c_primary1);
    color: white;
    /*! text-align: center; */
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    z-index:2;
}
.work_proContainer .row::after{
    content: "";
    position: absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
            transform:translateX(-50%);
    height: 100%;
    width: 1px;
    background:var(--c_primary1);
    z-index: 1
}
.work_proContainer .row:last-child::after{
    content: none;
}
.workPro_img,
.workPro_content{
    padding:0px 30px;
}
.workPro_img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    justify-content: flex-end;
}
.workPro_img img{
    max-width: 117px;
    max-height: 117px;
    width: 100%;
}
.work_proContainer .row:nth-child(2n){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.work_proContainer .row:nth-child(2n) .workPro_img{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
            justify-content: flex-start;
}
.work_proContainer .row:nth-child(2n) .workPro_content{
    text-align: right;
}
@media(max-width:576px){
    .workPro_title{
        font-size: 14px;
    }
    .workPro_content p{
        font-size: 12px;
        padding-top: 5px;
    }
    .workPro_img,
.workPro_content{
    padding:0px 20px;
}
}
/*........ end how it works section ........*/


/*........ start packages section ........*/

#package_accordion .accordion-item {
    margin-bottom: 1rem;
    border: none;
}

#package_accordion .accordion-button {
    border: none;
    max-width: 637px;
    margin: auto;
    background: var(--c_powderBlue);
    border-radius: 6px;
}

#package_accordion .accordion-body {
    padding: 2.5rem 1rem;
    background: var(--bg_powderBlue);
    border-radius: 6px;
    margin-top: 1rem;
}

#package_accordion .accordion-button:not(.collapsed) {
    color: var(--c_secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#package_accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2332959D'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    -webkit-filter: drop-shadow( 0px 3px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow( 0px 3px 4px rgba(0, 0, 0, 0.25));
}

.basic_package {
    --pkg_baseColor: var(--c_primary);
}

.standard_package {
    --pkg_baseColor: var(--c_primary1);
}

.pro_package {
    --pkg_baseColor: #9C7777;
}
.package_item{
    max-width: 270px;
    margin: 0px auto;
    height: 100%;
    /*! max-height: 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.package_card{
    /*! padding: 3rem; */
    border: 1px solid var(--pkg_baseColor);
    /*! height: 100%; */
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    color: var(--c_secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.package_info {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1rem;
}

.package_title {
    margin-bottom: 1.3em;
    color: var(--pkg_baseColor);
    text-align: center;
}

.package_brief {
    font-weight: 500;
}
.package_knowMore{
    font-style: italic;
    text-decoration: underline;
    color:var(--pkg_baseColor);
    cursor: pointer;
}
.ac_price {}

.dc_price {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--pkg_baseColor);
}

.package_buy_btn {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.6em;
    background-color: var(--pkg_baseColor);
    color: white;
    margin-top: auto;
    text-decoration: none;
    text-align: center;
}
.package_buy_btn:hover{
    color:white;
}

.modal_pkg_title {
    color: var(--pkg_baseColor);
}

.modal_pkg_subTitle {}

.modal_pkg_row {
    max-width: 90%;
    margin: auto;
    /* width: 400px; */
    margin-bottom: 1rem;
}

.modal_pkg_card {
    padding: 0.8rem;
    background: var(--bg_powderBlue);
    border-radius: 6px;
    -webkit-box-shadow: 1px 4px 6px rgb(0 0 0 / 12%);
    box-shadow: 1px 4px 6px rgb(0 0 0 / 12%);
    height: 100%;
}

.modal_pkg_card img {
    height: 70px;
    width: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 10px;
    padding: 5px;
}

.modal_pkg_card p {
    font-size: 12px;
}

.modal_ac_price {
    font-size: 1rem;
}

.modal_dc_price {
    color: var(--pkg_baseColor);
}

.modal_get_pkgBtn {
    margin: 10px auto;
    background: var(--pkg_baseColor);
    color: white;
}

.modal_get_pkgBtn:hover {
    color: white;
}

@media(max-width:575.98px) {
    .package_card .modal-dialog {
        max-width: 360px;
        width: 95%;
        margin: auto;
    }
    .accordion-button {
        font-size: 14px;
    }
}

@media(max-width:992px) {
    .package_brief {
        font-size: 12px;
        line-height: 18px;
    }
    .border_right_sm {
        border-right: 1px solid lightgray;
    }
}

@media(min-width:576px) {
    #package_accordion .accordion-body {
        padding: 2.5rem 4rem;
    }
    .modal_pkg_row {
        /* max-width: 90%; */
    }
}


/*........ end packages section ........*/


/*........ start assure section ........*/

.assure_container {
    text-align: center;
}

.assure_card {
    color: var(--c_secondary);
}

.assure_card img {
    width: 62px;
    height: 62px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 0.8rem;
    -o-object-position: center;
    object-position: center;
}

.assure_card h6 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.assure_card p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

@media(max-width:576px) {
    .assure_card img {
        width: 50px;
        height: 50px;
    }
    .assure_card h6 {
        font-size: 12px;
        line-height: 14px;
    }
    .assure_card p {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }
}

@media(min-width:992px) {
    .assure_container {
        max-width: 637px;
    }
}


/*........ end assure section ........*/


/*........ start info section ........*/

.info_card {
    text-align: center;
    color: var(--c_primary);
}

.info_card p {
    font-size: 8px;
}

.info_num {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 0.3em
}

@media(min-width:576px) {
    .info_card p {
        font-size: 12px;
    }
    .info_num {
        font-size: 25px;
    }
}

@media(min-width:768px) {
    .info_num {
        font-size: 36px;
    }
}

@media(min-width:992px) {
    .info_card p {
        font-size: 16px;
    }
}

@media(min-width:1200px) {
    .info_num {
        font-size: 50px;
    }
}


/*........ end info section ........*/


/*........ start testimonial section ........*/

.tes_card {
    margin: 20px;
    -webkit-box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.14);
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    max-width: 850px;
    padding: 20px;
}

.tes_userName{
    font-size: 20px;
    text-align: center;
}

.tes_desc {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

@media(min-width:992px) {
    .tes_card {
        margin: 20px auto;
        max-width: 850px;
    }
    .tes_desc {
        font-size: 16px;
        line-height: 30px;
    }
}


/*........ end testimonial section ........*/


/*........ start faq section ........*/

.faq_desc {
    color: #37474F;
}

.faq_desc::after {
    content: "";
    display: block;
    border-bottom: 2px solid #7BACC5;
    border-radius: 3px;
    max-width: 500px;
    margin: 2rem auto;
}

.faq_items {}

.faq_item:nth-child(1),
.faq_item:nth-child(4),
.faq_item:nth-child(7) {
    --faq_bg: #FDFCF4;
    --faq_c: #765A5A;
}

.faq_item:nth-child(2),
.faq_item:nth-child(5),
.faq_item:nth-child(8) {
    --faq_bg: #e4f7ff;
    --faq_c: var(--c_primary);
}

.faq_item:nth-child(3),
.faq_item:nth-child(6) {
    --faq_bg: #E8FAF6;
    --faq_c: #015C64;
}

.faq_card {
    background-color: var(--faq_bg);
    color: var(--faq_c);
    padding: 32px 22px;
    cursor: pointer;
    font-weight: 300;
    height: 100%;
}

.faq_modal {}

.faq_modal_content {
    font-weight: 300;
    background-color: var(--faq_bg);
    color: var(--faq_c);
}
.faq_modal_content .modal-header{
    /* height: 0px; */
}

.faq_modal_img {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: auto;
    max-height: 140px;
    -o-object-fit: contain;
       object-fit: contain;
}

@media(max-width:575.98px) {
    .faq_desc {
        font-size: 12px;
        line-height: 23px;
    }
}

@media(min-width:992px) {
    .faq_container {
        max-width: 730px;
    }
    .faq_card {
        -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }
}


/*........ end faq section ........*/


/*........ start events section ........*/

.events_card {
    -webkit-box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.11);
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
}

.events_content {
    padding: 20px;
    text-align: center;
}

.events_heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.events_desc,
.events_place {
    font-size: 12px;
    line-height: 18px;
}

.events_place {
    color: #9C7777;
}

.events_img {
    width: 100%;
    max-width: 100%;
}

.btn_events {
    background-color: #036696;
    color: white;
}

.btn_events:hover {
    color: white;
}

.owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0px 5px;
    border: 1px solid var(--c_primary1);
}

.owl-carousel button.owl-dot.active {
    background-color: var(--c_primary1);
}

@media(max-width:575.98px) {
    .btn_events {
        font-size: 12px;
    }
    .owl-carousel button.owl-dot {
        width: 12px;
        height: 12px;
    }
}

@media(min-width:768px) {
    .events_content {
        padding: 0px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .events_card {
        margin: 20px auto;
        max-width: 850px;
        padding: 20px;
    }
    .events_heading {
        font-size: 20px;
    }
    .events_desc,
    .events_place {
        font-size: 16px;
        line-height: 22px;
    }
}


/*........ end events section ........*/


/*........ start news & media section ........*/

.news_section img {
    max-width: 114px;
    margin: auto;
    display: block;
}


/*........ end news & media section ........*/


/*........ start newsletter section ........*/

.newsletter_container {
    max-width: 880px;
}

@media(max-width:575.98px) {
    .newsletter_container,
    .newsletter_container input,
    .newsletter_container button {
        font-size: 12px;
        line-height: 18px;
    }
    .newsletter_img {
        display: block;
        max-width: 115px;
        margin: 20px auto;
    }
}


/*........ end newsletter section ........*/


/*........ end footer section ........*/

.footer_sec {
    background-color: #043953;
    color: #DDF1F9;
}

.footer_logoArea {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_logo {
    width: 120px;
}

.footer_heading {}

.footer_contact_icon {
    margin-right: 10px;
    width: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 20px;
}

.footer_contact_info {
    font-size: 14px;
    line-height: 17px;
}

.footer_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_social_links img {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

.footer_links {}

.footer_links a {
    text-decoration: none;
    color: #EAF7FC;
    font-size: 14px;
    line-height: 28px;
}

@media(max-width:575.98px) {
    .footer_sec {
        text-align: center;
    }
}
/*........ end footer section ........*/